section {
    border: 1px solid blue;
    width: 600px;
    height: 170px;
}

div {
    margin: 5px;
    width: 50px;
    height: 150px;
}

.left {
    float: left;
    background: pink;

}

.right {
    float: right;
    background-color: goldenrod;
}