body {
    color: brown;
    background-color: white;
    font-family: sans-serif;
  }
  
   #foto {
    width: 20%;
    height: 25%;
    border-radius: 60%;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  h1 {
    margin: 4px 2px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 3em;  
  }
  
  h2 {
    border-style: solid;
    border-color: rgb(206, 142, 117);
    color: rgb(206, 142, 117);
    padding-top: 200px;
    padding: 10px 20px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }
  
  ul {
    margin: auto;
  }
  
  .row {
    max-width: 1200px;
    display: flex;
    padding: 2em;
  }
  
  .column1 {
    border-style: solid;
    border-color: rgb(206, 142, 117);
    border-radius: 15px;
    flex: 50%;
    margin-right: 50px;
    margin-left: 25px;
    padding: 15px;
  }
  
  .column2 {
    margin-top: 23.5%;
    flex: 50%;
    margin-right: 50px;
    margin-left: 25px;
    padding: 15px;
  }
  
  .section {
    padding-top: 8%;
    padding-bottom: 1%;
  }
  
  .list li {
    padding-top: 3%;
  }
  
  .title {
  /* margin-top: 3%; */
  max-width: 400px;
  position: absolute; 
  left: 50%;
  top: 6%;
  width: 40%;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  }