*{
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

div:hover{
    border: 4px transparent ;
}

.container {
    display: grid;
    background-color: wheat;
    grid-template-columns: 1fr;
    }
    
span {
    grid-column: 1/3;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

span {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    
}

.logo {
    display: flex;
    gap: 12px ;
}

.logo img {
    border-radius: 128px;
}

ul {
    display: flex;
    gap: 12px;
}

ul > li {
    list-style: none;
    
}

.promos {
    display: flex;
    justify-content: center;
}

.imagen-promos {
    display: flex;
    justify-content: space-between;
   
}

.board {
    display: grid;
    grid-column: repeat(3, 1fr);
   
}

.card-items :hover {
    border: 4px solid #e4491c;

}
.card-container {
    display: flex;
    gap: 15px;
}