*{
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

div:hover{
    border: 4px solid #e4491c ;
}

.container {
    display: grid;
    background-color: wheat;
    grid-column: 1fr 1fr 1fr;
    grid-row: 50vh 50vh;
}

.nav-bar {
    display: flex;
    grid-column: 20px 1fr 20px;
    grid-row: 25vh 25vh 25vh 25vh;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 12px ;
}

ul {
    display: flex;
    gap: 12px;
}

ul>li {
    list-style: none;
    
}

.promos {
    display: flex;
}

.imagen-promos {
    display: grid;
    justify-items: center;
   
}

.dashboard {
    display: grid;
    grid-column: repeat(3, 1fr);
   
}

.card-items {
    display: inline;
    gap: 15px;

}