p {
	color: red;
	border-radius: 16px;
}

li {
	color: #203749;
}

.accent-color {
	/* 10 puntos */
	color: rebeccapurple;
}

h1 {
	/* 1 punto */
	color: green;
}

body .accent-color {
	/* 11 punto */
	color: green;
}

#li-importantisimo {
	color: orange;
}
